@import "../../theme.scss";

$cardHeight: 80px;

:host {
  display: block;

  height: $cardHeight;
  border: 1px orange solid;
  border-radius: 5px;

  padding: $margin1;
}

.img-container {
  height: 100%;
}

img {
  border-radius: 50%;
  height: $cardHeight;
  width: $cardHeight;
  object-fit: cover;
}
