@use "../../boilerplate.scss" as *;
@import "../../theme.scss";

:host {
  position: absolute;
  top: 140px;
  height: 518px;
  @include width(100%);
}

$imgHeight: 200px;

.header {
  @include width(100%);
}

.header-background {
  height: 192px;
  overflow: hidden;
  left: 0;
  right: 0;
  position: absolute;
}

.header-background > div {
  background-color: $primay-color;
  height: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  width: calc(100% * 1.3);
  transform: translateX(-11.7%);

  box-shadow: -10px -10px 30px #fff, 10px 10px 30px #aeaec040,
    inset -5px -5px 5px #aeaec025, inset 5px 5px 5px #fff;
}

.content {
  position: relative;
  top: -100px;
  background-color: $primay-color;
  height: 560px;

  // show shadow only on right and left side
  // box-shadow: -10px -10px 30px #fff, 10px 10px 30px #aeaec040,
  //   inset -5px -5px 5px #aeaec025, inset 5px 5px 5px #fff;

  // show shadow only on right and left side
  box-shadow: inset -5px -5px 5px #aeaec025, inset 16px 5px 5px -15px #fff;
}

$imgHeight: 160px;

img {
  border-radius: 50%;
  height: $imgHeight;
  width: $imgHeight;
  margin: auto;
  display: block;
  top: -68px;
  position: relative;
  z-index: 1;
}
