@use "./boilerplate.scss" as *;
@import "./theme.scss";

html,
body {
  width: 100%;
  margin: 0px;

  background-color: $primay-color;
}

.d-flex {
  @include d-flex;
}

.m-1 {
  @include margin($margin2);
}

.row-gap-1 {
  @include row-gap($margin2);
}

.w-100 {
  @include width(100%);
}

.flex-column {
  @include flex-direction(column);
}

.box-shadow {
  box-shadow: -4px -2px 4px 0px #ffffff, 4px 2px 6px 0px #dfe4ea;
}
